<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <strong>Contact</strong>
          {% if site.social.email %}
            <li>{% include icons/icon-email.html email=site.social.email %}</li>
          {% endif %}
          <li class="icons">
            {% if site.social.github and site.social.github.enabled %}
              {% include icons/icon-github.html github=site.social.github %}
            {% endif %}
            {% if site.social.gitlab and site.social.gitlab.enabled %}
              {% include icons/icon-gitlab.html gitlab=site.social.gitlab %}
            {% endif %}
            {% if site.social.stackoverflow and site.social.stackoverflow.enabled %}
              {% include icons/icon-stackoverflow.html stackoverflow=site.social.stackoverflow %}
            {% endif %}
            {% if site.social.twitter and site.social.twitter.enabled %}
              {% include icons/icon-twitter.html twitter=site.social.twitter %}
            {% endif %}
            {% if site.social.youtube and site.social.youtube.enabled %}
              {% include icons/icon-youtube.html youtube=site.social.youtube %}
            {% endif %}
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
