<div class="show-comment">Show all comments</div>
<div id="disqus_thread"></div>
<script>
  var showCommentClick = document.querySelector('.show-comment')
  showCommentClick.addEventListener('click', loadDisqus)

  var disqus_config = function () {
    this.page.url = '{{ .Permalink }}'
    this.page.identifier = '{{ .Permalink }}'
  }

  function loadDisqus() {
    showCommentClick.style = 'display: none'
    var d = document,
      s = d.createElement('script')
    s.src = 'https://{{ .Site.Params.disqusShortname }}.disqus.com/embed.js'
    s.setAttribute('data-timestamp', +new Date())
    ;(d.head || d.body).appendChild(s)
  }
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript
>
