<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />

  <!-- prettier-ignore -->
  {{ $options := (dict "outputStyle" "compressed") }}
  {{ $sass := resources.Get "_sass/minima.scss" }}
  {{ $style := $sass | css.Sass $options | resources.Fingerprint }}

  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
  <link rel="canonical" href="{{ .RelPermalink }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="/feed.xml" />
  <script async defer data-domain="zackad.dev" src="https://analytics.zackad.dev/js/plausible.js"></script>
</head>
