<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  {{ template "partials/head.html" . }}

  <body>
    {{ template "partials/header.html" . }}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          {{ .Content }}
          <ul class="post-list">
            {{ range .Site.RegularPages }}
            <li class="post-item">
              <h2><a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              <span class="post-meta">Written on: <strong>{{ .Date | time.Format "Mon, 2 Jan 2006 " }}</strong></span>
              <hr />
              <p>{{ .Summary }}</p>
            </li>
            {{ end }}
          </ul>
          <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
        </div>
      </div>
    </main>

    {{ template "partials/footer.html" . }}
  </body>
</html>
