<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
  {{ template "partials/head.html" . }}

  <body>
    {{ template "partials/header.html" . }}

    <!-- Main Content For Homepage -->
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <ul class="post-list">
            <!-- Iterate over regular post -->
            {{ range .Site.RegularPages }}
            <!-- List posts type only -->
            {{ if eq .Type "posts" }}
            <li class="post-item">
              <h2><a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
              {{ if gt .Date .Lastmod }}
              <span class="post-meta">Written on: <strong>{{ .Date | time.Format "Mon, 2 Jan 2006 " }}</strong></span>
              {{ else }}
              <span class="post-meta">Update on: <strong>{{ .Lastmod | time.Format "Mon, 2 Jan 2006 " }}</strong></span>
              {{ end }}
              <span class="post-meta">by zackad</span>
              <hr />
              <p>{{ .Summary }}</p>
            </li>
            {{ end }}
            <!-- End of posts type filter -->
            {{ end }}
            <!-- End of regular pages iteration -->
          </ul>
          <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
        </div>
      </div>
    </main>

    {{ template "partials/footer.html" . }}
  </body>
</html>
